nav {
    z-index: 10;
}

nav h4 {
    color: #5A3919;
    font-weight: 600;
}

.navbar-brand img {
    height: 50px;
}

.mask {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100vw;
}

.searchWrapper {
    position: relative;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.searchTitle {
    font-size: 48px;
    color: #5A3919;
}

.outerWrapper {
    display: flex;
    width: 60%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.83);
    border-radius: 999em;
}

.countryWrapper {
    width: 90%;
    text-align: left;
}

.countryWrapper label {
    padding-left: 1em;
    text-align: left;
    width: 49%;
    font-size: 2em;
    margin: 0;
}

.countrySearch, .citySearch {
    position: relative;
    width: 49%;
    padding-left: 1em;
    font-size: 2em;
    background-color: transparent;
    border: transparent;
    border-radius: 999em;
}

input.countrySearch, .citySearch, .museumSearch {
    position: relative;
    width: 49%;
    padding-left: 1em;
    font-size: 2em;
    background-color: transparent;
    border: transparent;
    border-radius: 999em;
}

input:focus {
    outline: none;
}

.museumWrapper {
    width: 90%;
    height: 96px;
    text-align: left;
}

.museumWrapper label {
    padding-left: 1em;
    text-align: left;
    width: 90%;
    font-size: 2em;
    margin: 0;
}

.fa-search {
    line-height: 60px;
    color: #5A3919;
    font-size: 3em;
}

#loginPop {
    text-align: center;
}

.popImgWrapper {
    width: 100%;
}

.popImgWrapper img {
    height: 50px;
}

.modal-dialog {
    width: 30%;
    color: #5A3919;
}

.modal-body {
    padding: 0 5em 2em 5em;
}

.form-group {
    text-align: left;
}

.loginBtn {
    width: 100%;
    border-radius: 999em;
    background-color: #D7CEC7;
    border: none;
    color: #5A3919;
    font-weight: 700;
}

