/* navbar  */
.navbar-brand img {
    height: 50px;
}

/* whole page setting */
.container {
    border: 2px brown;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px; /*隨螢幕尺寸而變，當螢幕尺寸 ≥ 1200px 時是 1140px。*/
}

body {
    background-color: #E3DCD7;
}

.searchBtn {
    text-align: right;
    height: 2.5em;
    width: 30vw;
    /*background-color: #0f6674;*/
    border: grey solid 1px;
    border-radius: 999em;
    padding-right: 1em;
    vertical-align: middle;
    /*font-size: 1em;*/
}

.fa-search {
    font-size: 1.5em;
}

img {
    width: 100%;
}

.logo {
    height: 50px;
    width: 53px;
}

.edit_but {
    border: 0;
    background-color: #D26900;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.edit_but:hover {
    color: #D26900;
    background-color: #fff;
    border: 2px #D26900 solid;
}

.edit_modal_logo {
    height: 50px;
    width: 53px;
}

.logo_container {
    text-align: center;
}

.chosebar_container {
    text-align: center;
    margin: 5px
}

.title_css {
    margin: 5px;
}

.but_area {
    margin: 10px;
}

.note {
    float: left;
    font-size: 15px;
    text-align: center;
}

.input_bar {
    outline: medium;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.send_but {
    margin: 10px;
    border: 0;
    background-color: #D26900;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* login & popups */
#loginPop {
    text-align: center;
}

.popImgWrapper {
    width: 100%;
}

.popImgWrapper img {
    height: 50px;
}

.modal-dialog {
    width: 30%;
    color: #5A3919;
}

.modal-body {
    padding: 0 5em 2em 5em;
}

.form-group {
    text-align: left;
}

.loginBtn {
    width: 100%;
    border-radius: 999em;
    background-color: #D7CEC7;
    border: none;
    color: #5A3919;
    font-weight: 700;
}

.edit .modal-dialog {
    width: 50%;
}