.container {
    text-align: center;

}

.item {
    border: #5A3919 3px solid;
    height: 50px;
    width: 90%;
    /*background-color: #005cbf;*/
    margin: 2em auto 0 auto;
    border-radius: 10px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /*margin-top: 2em;*/
}

.block1 {
    background-image: url("/static/img/palace.jpg");
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    /*background-repeat: no-repeat;*/
}

/*.img {*/
/*    height: 300px;*/
/*    width: 270px;*/
/*    float: left;*/
/*    margin: 10px;*/
/*}*/

.row {
    /*    top: 376px;*/
    /*left: 140px;*/
    /*width: 1589px;*/
    /*border: 3px solid #5A3919;*/
    /*border-radius: 10px;*/
    /*opacity: 1;*/
    /*margin: auto;*/
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block3 {

    white-space: nowrap;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

.block .icon {
    float: left;
    width: 10%;
    padding-right: 0px;
    margin-right: 0px;
    display: inline-block;
}

.block .address {
    float: left;
    width: 90%;
    text-align: left;
    /*font-size: 32px;*/
    display: inline-block;

}

.fa-arrow-alt-circle-right {
    font-size: 3em;
    color: #5A3919;
}