{% extends 'master.html' %}

{% block title %} 關於我們 {% endblock %}
{% load static %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/all.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">


    <link rel="stylesheet" href="{% static "css/museum.css" %}">
{% endblock %}


{#</head>#}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="imgWrapper col-6 ">
                <img src="{% static "img/logo.png" %}" alt="">
            </div>
            <div class="aboutContent col-6">
                <p class="title">無處可去？</p>
                <p class="title">就來FINDMUSE找尋屬於你的博物館</p>
                <p>
                    FINDMUSE — Find your museum — 是為解決博物館資料分散問題而誕生，我們的願景是所有旅客到世界各地皆能輕鬆找到博物館感受當地的藝術文化。

                    FINDMUSE提供一站式的博物館搜索，提供各國博物館基本資訊，並提供評論區讓會員互相分享資訊，協助旅客創造一趟富含藝術氣息的旅程。
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="{% static "js/museum.js" %}"></script>
{% endblock %}