{% extends 'master.html' %}

{% block css %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block title %}博物館系統{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        {#    logo 在這裡 #}
        <a class="navbar-brand" href="#"><img class="logo" src="/static/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item mr-4 mt-2">
                    <a class="navbar-brand" href=""><h4>關於我們</h4></a>
                </li>
                {#            這邊保留給登入系統#}
                <li class="nav-item mr-5 mt-2">
                    {% if request.user.is_authenticated %}
                        <a class="navbar-brand " href="" tabindex="-1" aria-disabled="true"><h4>登出</h4></a>
                    {% else %}
                        <a class="navbar-brand " href="" tabindex="-1" aria-disabled="true" data-target="#loginPop"
                           data-toggle="modal"><h4>登入/註冊</h4></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {#    遮罩#}
    <div class="mask"></div>
    <div class="searchWrapper">
        <div class="searchTitle">你想去哪裡？</div>
        <div class="outerWrapper">
            <div class="countryWrapper">
                <label for="countrySearch">國家</label>
                <label for="citySearch">城市</label>
                <br>
                <select name="country" class="countrySearch" id="">
                    <option value="台灣">台灣</option>
                </select>
                <select name="city" class="citySearch" id="">
                    <option value="台北">台北</option>
                </select>
{#                <input type="text" name="countrySearch" class="countrySearch" value="">#}
{#                <input type="text" name="citySearch" class="citySearch" value="">#}
            </div>
            <i class="fas fa-search"></i>
        </div>
        <br>
        <div class="outerWrapper">
            <div class="museumWrapper">
                <label for="museumSearch">博物館名稱</label>
                <br>
                <input type="text" class="museumSearch" value=""/>
            </div>
            <i class="fas fa-search"></i>
        </div>
    </div>

    {#    彈跳視窗#}
    <!-- Modal -->
    <div class="modal fade" id="loginPop"  data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="popImgWrapper">
                        <img class="logo" src="/static/img/logo.png" alt="">
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">會員登入</h5>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email 地址</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密碼</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="loginBtn btn btn-primary">送出</button>
                    </form>
                </div>
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                    <button type="button" class="btn btn-primary">Understood</button>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/backstretch.min.js" %}"></script>
    <script>
        $.backstretch([
            "{%  static "img/bg.jpg" %}"
        ]);
    </script>
{% endblock %}