{% extends 'master.html' %}
{% block title %} 搜尋頁面 {% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/all.min.css" %}">

    <link rel="stylesheet" href="{% static "css/museums.css" %}">
{% endblock %}


{#</head>#}
{% block content %}
    <div class="container">
        {% if SearchResult|length == 0 %}
            <div class="imgWrapper noResult">
                <img src="{% static "img/noresult.png" %}" alt="" class="noResult">
            </div>
        {% else %}

            {% for museum in SearchResult %}
                <div class="item row">
                    <div class="imgWrapper col-2 block1">
                        <img class="test" src="{{ museum.img }}" alt="">
                    </div>
                    <div class="col-3 block">
                        <div class="museumName">{{ museum.mname }}</div>
                    </div>
                    <div class="col-6 block">
                        <div class="icon"><i class="fas fa-compass"></i></div>
                        <div class="museumAddress">{{ museum.address }}</div>
                    </div>
                    <div class="arrowBlock col-1 block">
                        <button class="far fa-arrow-alt-circle-right" id="goToMuseum" value="{{ museum.cid }}"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
{% block script %}
    <script src="{% static "js/museums.js" %}"></script>
{% endblock %}
