{% extends 'master.html' %}

{% block title %} 博物館頁面 {% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/all.min.css" %}">

    <link rel="stylesheet" href="{% static "css/museum.css" %}">
{% endblock %}


{#</head>#}
{% block content %}
    <div class="container">
        {% for museum in MuseumDetail %}
            <div class="row">
                <div class="col-6 imgWrapper museumWrapper">
                    <img src="{{ museum.img }}" alt="">
                </div>

                <div class="col-6 museum">
                    <div class="infoWrapper">
                        <div class="museumName">{{ museum.mname }}</div>
                        <div class="museumAddress">{{ museum.address }}</div>
                    </div>
                </div>
            </div>

            <div class="col-12 introWrapper">
                <div class="row museumIntro">
                    <div class="title">館方簡介：</div>
                    <div class="content">
                        {{ museum.introduce }}

                    </div>
                </div>
            </div>
            <iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src=https://maps.google.com.tw/maps?f=q&geocode=&q={{ museum.address }}&z=16&output=embed&t=></iframe>
        {% endfor %}
        <hr>

        <div class="row commentTitle">經驗分享</div>
        <div class="commentBlock">
            {% for cmt in Comment %}
                <div class="row comment">
                    <div class="imgWrapper headWrapper col-1">
                        <img src="{% static "img/owl.png" %}" alt="">
                    </div>
                    <div class="col-11 contentWrapper">

                        <div class="userName">雷丘</div>

                        <div class="commentContent">{{ cmt.comment }}</div>

                    </div>
                </div>
            {% endfor %}
            {% if request.user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="SendComment">評論</label>
                    <input type="text" class="form-control" id="SendComment" name="SendComment">
                    <button type="submit" class="loginBtn btn btn-primary">送出</button>
                </form>
            {% else %}
                <div class="loginToComment row">
                    <a class="loginToCommentBtn" href="" data-target="#loginPop"
                       data-toggle="modal">登入並撰寫評論</a>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

